@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=DynaPuff:wght@600&family=Island+Moments&family=Josefin+Sans:ital,wght@1,100&family=Roboto:ital@1&family=Rubik+Maze&family=Shadows+Into+Light&family=Silkscreen&display=swap');

h1{
  font-size:40px;
  font-family: 'Aboreto', cursive;
}
.app{
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  justify-content: center;
  align-items: center;
}

.search_form{
  margin-top: 18px;
}

.app_input{
  padding: 6px 12px;
}

.app_submit{
  padding: 6px 12px;
  margin-left: 6px;
  background-color: rgb(6, 3, 21);
  color: yellow;
  border-radius: 4px;
  cursor: pointer;
}
.app_submit:hover{
  padding: 6px 12px;
  margin-left: 6px;
  background-color: crimson;
  color: rgb(14, 14, 13);
  border-radius: 4px;
  cursor: pointer;
}

.app_recipes{
  align-items:baseline;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4,230px);
}
.app_healthlabels{
  padding: 6px;
  margin-left: 4px;
  border-radius: 4px;
}