@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=DynaPuff:wght@600&family=Island+Moments&family=Josefin+Sans:ital,wght@1,100&family=Roboto:ital@1&family=Rubik+Maze&family=Silkscreen&display=swap');


body {
  margin: 0;
  font-family:  BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin:0px;
  padding: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
